@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home - Razor";

}
@section banner{
<h1>Forms and Razor Samples</h1>
}
<p>This is my first Content Page, I will call it Home</p>
@section footer{
    &copy; CSPC1517 Nait 2019
    }
