@{
    //this file is processed Physically from top to bottom

    Layout = "~/_Layout.cshtml";
    Page.title = "Textboxes";

    //capture the data returned to the web app (web server)
    //this data is in strings
    var leftside = Request.Form["leftinput"]; //if the control name does not exist the result is NULL
    var rightside = Request.Form["rightinput"];
    var thebutton = Request.Form["formbutton"]; //value attribute



}

@section banner{
    <h1>Forms and Razor Samples</h1>
}
<!-- Body content Area-->
<!-- Processing Logic-->
@if(IsPost)
{
    if(thebutton.Equals("left"))
    {
        if (leftside != null)
        {<p>Hello @leftside, Welcome!</p>}
        
    }
    else
    {
        if (rightside != null)
        {<p>I see your favourite colour is @rightside!</p>}
    }
}
else
{
    // any initialization logic to fll any of your form controls
    <p>Enter The Requested information.</p>
 }




<!-- Form-->
    <form id="theform" method="post">

        <div class="col-md-6">
            <label for="leftinput">Your Name:</label>
            <input type="text" id="leftinput" name="leftinput"
                   placeholder="Enter Your Name" value="@leftside"/>
            <button type="submit" id="formbutton" name="formbutton"
                    value="left" class="btn">
                Press Left
            </button>
        </div>
        <div class="col-md-6">
            <label for="rightinput">Your Favourite Colour:</label>
            <input type="text" id="rightinput" name="rightinput"
                   placeholder="Enter Your Colour"value="@rightside" />
            <button type="submit" id="formbutton" name="formbutton"
                    value="right" class="btn">
                Press Right
            </button>
        </div>
    </form>







@section footer{
    &copy; CSPC1517 Nait 2019, no rights opened
}

